.ant-dropdown-hidden {
  // display: block;
}
.ant-dropdown {
  
}
.ant-dropdown-menu {
  margin-top: -3px;
}
.ant-dropdown-menu::before {
  content: '';
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 11px solid white;
  position: absolute;
  top: -6px;
  left: 79px;
}
.ant-dropdown-menu-item {
  padding-top: 10px;
  padding-left: 14px;

  padding-right: 51px;
  // padding-bottom: px;
}
.ant-dropdown-menu-item img {
  padding-right: 36px;
  padding-bottom: 1px;

}
.ant-dropdown-menu-item > a {
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  padding: 5px 0px 5px 14px;
}
.ant-dropdown-menu-item > a > a {
  text-decoration-line: underline;
  color: #144F7F;
}



.acid {
  padding-right: 41px;
}
.alkalis {
  padding-right: 46px;
}
.alcohols {
  padding-right: 48px;
}
.solvents {
  padding-right: 10px;
} 
.salt {
  padding-right: 65px;
}
.esters {
  padding-right: 53px;
}
.chlorides {
  padding-right: 41px;
}
.other {
  padding-right: 53px;
}