$border: 1px solid rgba(0, 0, 0, 0.1); 

.dotsBlockParent {
  position: relative;

  .dotsBlock {
    display: flex;
    padding: 31px 22px 31px 22px;
    border-left: $border; 
    border-right: $border;

    .dotsBlock__dot {
      height: 7px;
      width: 7px;
      border-radius: 50%;
      background-color: #144F7F;

      &:first-child {
        margin-right: 4px;
      }
      &:last-child {
        margin-left: 4px;
      }
    }
  }
}



